<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <h3>Your Orders</h3>

      <div *ngIf="orderHistoryList.length > 0">
        <table class="table table-bordered">
          <tr>
            <th>Order Tracking Number</th>
            <th>Total Price</th>
            <th>Total Quantity</th>
            <th>Date</th>
          </tr>

          <tr *ngFor="let tempOrderHistory of orderHistoryList">
            <td style="width: 20%">
              {{ tempOrderHistory.trackingNumber }}
            </td>
            <td style="width: 10%">
              {{ tempOrderHistory.totalPrice | currency: 'CAD' }}
            </td>
            <td style="width: 10%">
              {{ tempOrderHistory.totalQuantity }}
            </td>
            <td style="width: 10%">
              {{ tempOrderHistory.dateCreated | date: 'medium' }}
            </td>
          </tr>
        </table>
      </div>

      <!-- if order history is empty then display a message -->
      <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
        No orders found.
      </div>
    </div>
  </div>
</div>
